<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="../common/ace/css/bootstrap.css" />
<link rel="stylesheet" href="../common/ace/css/font-awesome.css" />
<!-- text fonts -->
<link rel="stylesheet" href="../common/ace/css/ace-fonts.css" />
<!-- ace styles -->
<link rel="stylesheet" href="../common/ace/css/ace.css" />
<!--[if lte IE 9]>
	<link rel="stylesheet" href="../common/ace/css/ace-part2.css" />
<![endif]-->
<link rel="stylesheet" href="../common/ace/css/ace-rtl.css" />
<!--[if lte IE 9]>
  <link rel="stylesheet" href="../common/ace/css/ace-ie.css" />
<![endif]-->
<div class="main-container" ng-controller="LoginController">
	<div class="main-content">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="login-container">
					<div class="center">
						<h1>
							<i class="ace-icon fa fa-leaf green"></i>
							<span class="red">Ace</span>
							<span class="{{theme.appText}}">Application</span>
						</h1>
						<h4 class="{{theme.companyText}}">&copy; Company Name</h4>
					</div>

					<div class="space-6"></div>

					<div class="position-relative">
						<div id="login-box" class="login-box visible widget-box no-border">
							<div class="widget-body">
								<div class="widget-main">
									<h4 class="header blue lighter bigger">
										<i class="ace-icon fa fa-coffee green"></i>
										登陆
									</h4>

									<div class="space-6"></div>

									<form name="login">
										<fieldset>
											<label class="block clearfix">
												<span class="block input-icon input-icon-right">
													<input type="email" name="username" ng-model="user.name" class="form-control" placeholder="用户名" required />
													<i class="ace-icon fa fa-user"></i>
												</span>
											</label>
											<label class="block clearfix">
												<span class="block input-icon input-icon-right">
													<input type="password" name="pwd" ng-model="user.pwd" class="form-control" ng-minlength="6" placeholder="密码" required />
													<i class="ace-icon fa fa-lock"></i>
												</span>
											</label>

											<div class="space"></div>

											<div class="clearfix">
												<button type="submit" ng-disabled="login.$invalid" ng-click="signin()" class="width-35 pull-right btn btn-sm btn-primary">
													<i class="ace-icon fa fa-key"></i>
													<span class="bigger-110">登陆</span>
												</button>
											</div>
											<div class="space-4"></div>
										</fieldset>
									</form>
								</div><!-- /.widget-main -->
							</div><!-- /.widget-body -->
						</div><!-- /.login-box -->
					</div><!-- /.position-relative -->

					<div class="navbar-fixed-top align-right">
						<br /><span style="color:#428BCA;">主题</span>
						&nbsp;
						<a ng-click="changeTheme('dark')" href="javascript:void(0);">黑</a>
						&nbsp;
						<span class="blue">/</span>
						&nbsp;
						<a ng-click="changeTheme('blur')" href="javascript:void(0);">模糊</a>
						&nbsp;
						<span class="blue">/</span>
						&nbsp;
						<a ng-click="changeTheme('light')" href="javascript:void(0);">亮</a>
						&nbsp; &nbsp; &nbsp;
					</div>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.main-content -->
</div><!-- /.main-container -->